<!DOCTYPE html>
<html>

<head>
  <title>Django Auth</title>
</head>

<body>
  <h1>User Login</h1>
  <nav>
    <ul>
      <li><a href="{% url 'login' %}">Login</a></li>
      <li><a href="{% url 'logout' %}">Logout</a></li>
      <li><a href="#">Register</a></li>
      <li><a href="#">Profile</a></li>
    </ul>
  </nav>
  <!--putting in horizontal route to display feedback message to user that they are successfully logged-out-->
  <hr> {% if messages %}
  <div>
    {% for message in messages %} {{ message }} {% endfor %}
  </div>
  {% endif %}

  <form method="POST">
    {{ login_form }}
  </form>

</body>

</html>